body{
    background:url(https://github.com/Tamhat/DIGITAL-CLOCK/blob/main/i.png?raw=true);
    text-align: center;
}

.MyWatch {
    top: 30%;
    left: 30%;
    position: fixed;
    background-color: rgb(9, 239, 255);
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

span {
    font-size: 50px;
    /* color:rgb(240, 68, 16) */
}
h1 img{
    width:20%;
    top:10%;
    left: 39%;
    position: fixed;
}